@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-gray-dark: #5c5c5c;
  --color-gray-darkest: #333333;

  --color-gray-light: #828282;
  --color-gray-lighter: #e0e0e0;

  --color-green-primary: #009900;
  --color-green-secondary: #007e00;

  --color-blue-dark: #3362ab;
  --color-blue-light: #f0f5ff;
}

@layer base {
  body {
    @apply font-roboto;
  }

  input {
    @apply border-gray-lighter placeholder:text-gray-light w-full rounded-md border bg-white p-4 placeholder:text-sm placeholder:font-normal;
  }

  select {
    @apply border-gray-lighter text-gray-darkest h-full w-full appearance-none rounded-md border px-4 pt-7 pb-2 text-sm font-normal;
  }
}
